.footer {
    max-width: 100%;
    padding: 0 0 80px 9.75%;
}

.nav {
    width: 100%;
    max-width: 532px;
    /* height: 32px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:34px;
}

.nav__item {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
}

.nav__item_pageMain {
    text-decoration: none;
    color: rgba(82, 34, 208, 1);
}