.header {
    max-width: 100%;
    padding: 50px 5.7% 0 5.7%;
}

.header__wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: block;
    position: relative;
    height: 40px;
    max-width: 216px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo__img {
    width: 40px;
}

.logo__img_blue {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    left: 0%;
    right: 86.07%;
    top: 0%;
    bottom: 30%;
    background-color: rgb(82, 34, 208, 1);
}

.logo__img_red {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    right: 80.1%;
    top: 30%;
    bottom: 0%;
    background-color:rgba(236, 97, 91, 1);
    mix-blend-mode: multiply;
}

.logo__text {
    font-family: 'Intro Demo Black CAPS', serif;
    font-size: 17.75px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-left: 11px;
}

.btn__basket {
    width: 115px;
    height: 38px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 13px;
} 

.btn__basket:hover {
    background-color: rgba(117, 78, 216, 0.9);
    border: 1px solid rgb(180, 167, 212);
}

.btn__basket > img {
    width: 12px;
}