.mainFacilities {
    padding: 100px 72px 86px 126px;
    display: flex;
    flex-direction: column;
}

.content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    grid-template-rows: 270px repeat(2, 235px);
    padding-top: 40px;
}

.card {
    margin: 25px 0 50px 0;
}

.card__text {
    padding-top: 10px;
    max-width: 365px;
}

.subscription {
    width: 100%;
    max-width: 365px;
    height: 100%;
    max-height: 235px;
    background-color: #EC615B;
    padding: 25px 22px 55px 18px;
    margin: 0;
    box-sizing: border-box;
}

.subscription__subtitle {
    color: #FFFFFF !important;
}

form {
    width: 100%;
}

form > input[type="email"] {
    display: block;
    margin-top: 6px;
}

input[type="email"] {
    width: 90%;
    padding: 9px 0 9px 14px;
}

.btn__subscribe {
    margin-top: 23px;
    width: 135px;
    height: 38px;
    font-size: 13px;
    line-height: 13px;
    border: none;
    padding: 14px 14px 11px 16px;
}
