@import url('/assets/styles/header.css');

@font-face {
    font-family: 'Intro Demo Cond Light CAPS';
    src: url('/assets/fonts/Intro/IntroDemoCond-LightCAPS.otf');
}

/* жирные буквы */
@font-face {
    font-family: 'Intro Demo Black CAPS';
    src: url('/assets/fonts/Intro/IntroDemo-BlackCAPS.otf');
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap {
    background-color: bisque;
    /* удалить backgriud */
    width: 100%;
    height: 100%;
    /* padding-left: 92px;
    padding-top: 50px;
    padding-right: 72px;
    padding-bottom: 80px; */
}